{% extends 'base.html.twig' %}

{% block title %}Symrecipe - Ingredients{% endblock %}

{% block body %}
      <div class="container">
        
        <h1>Mes ingredients</h1>
        {% for message in app.flashes('success') %}
              <div class="alert alert-success mt-4">{{message}}</div>
            {% endfor %}
        <a href="{{ path('ingredient.new') }}" class="btn btn-primary">Créer un nouveau ingredient</a>
          
        {% if not ingredients.items is same as ([])  %} 
     
          <div class="count my-4">
            Il y a <span class="text-info h5">{{ ingredients.getTotalItemCount }}</span> ingrédients au total</span>
          </div>
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Nom</th>
                <th scope="col">Prix</th>
                <th scope="col">Created At</th>
                <th scope="col">Edition</th>
                <th scope="col">Suppression</th>
              </tr>
            </thead>
          <tbody>
          {% for ingredient in ingredients %}
              <tr class="table-primary">
                  <th scope="row">{{ ingredient.id}}</th>
                  <td>{{ ingredient.name }}</td>
                  <td>{{ ingredient.price }}</td>
                  <td>{{ ingredient.createdAt|date("m/d/Y") }}</td>
                  <td><a href="{{ path('ingredient.edit',{'id':ingredient.id})}}" class="btn btn-warning">Modifier</a></td>
                  <td><a href="{{ path('ingredient.delete',{'id':ingredient.id})}}" class="btn btn-danger">Supprimer</a></td>
              </tr>
          {% endfor %}
        </tbody>
        </table>
        <div class="navigation d-flex justify-content-center mt-4">
          {{ knp_pagination_render(ingredients) }}
        </div>
        {% else %}
          <h4>Il n'y a pas d'ingrédient </h4>
        {% endif %}
 
      </div>
    
    

{% endblock %}
