{% extends 'base.html.twig' %}

{% block title %}Symrecipe - recettes{% endblock %}

{% block body %}
      <div class="container">
        
        <h1>Mes recettes</h1>
        {% for message in app.flashes('success') %}
              <div class="alert alert-success mt-4">{{message}}</div>
            {% endfor %}
        <a href="{{ path('recipe.new') }}" class="btn btn-primary">Créer une nouvelle recette</a>
          
        {% if not recipes.items is same as ([])  %} 
          <div class="count my-4">
            Il y a <span class="text-info h5">{{ recipes.getTotalItemCount }}</span> recettes au total</span>
          </div>
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Nom</th>
                <th scope="col">Prix</th>
                <th scope="col">Difficulté</th>
                <th scope="col">Created At</th>
                <th scope="col">Edition</th>
                <th scope="col">Suppression</th>
              </tr>
            </thead>
          <tbody>
          {% for recipe in recipes %}
              <tr class="table-primary">
                  <th scope="row">{{ recipe.id}}</th>
                  <td>{{ recipe.name }}</td>
                  <td>{{ recipe.price is same as null ? 'non renseigné' : recipe.price }}</td>
                  <td>{{ recipe.difficulty is same as null ? 'non renseigné' : recipe.difficulty }}</td>
                  <td>{{ recipe.createdAt|date("m/d/Y") }}</td>
                  <td><a href="{{ path('recipe.edit',{'id':recipe.id}) }}" class="btn btn-warning">Modifier</a></td>
                  <td><a href="{{ path('recipe.delete',{'id':recipe.id}) }}" class="btn btn-danger">Supprimer</a></td>
              </tr>
          {% endfor %}
        </tbody>
        </table>
        <div class="navigation d-flex justify-content-center mt-4">
          {{ knp_pagination_render(recipes) }}
        </div>
        {% else %}
          <h4>Il n'y a pas de recette </h4>
        {% endif %}
 
      </div>
    
    

{% endblock %}

